-- MySQL dump 10.13  Distrib 5.6.32, for Win64 (x86_64)
--
-- Host: localhost    Database: pos_abadi
-- ------------------------------------------------------
-- Server version	5.6.32-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` varchar(50) DEFAULT NULL,
  `user_name` varchar(100) DEFAULT NULL,
  `action` varchar(50) NOT NULL,
  `detail` text,
  `timestamp` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `activity_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=212 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_flow`
--

DROP TABLE IF EXISTS `cash_flow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cash_flow` (
  `id` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `type` enum('in','out') NOT NULL,
  `category` varchar(50) NOT NULL,
  `amount` int(11) NOT NULL,
  `description` text,
  `reference_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_flow`
--

LOCK TABLES `cash_flow` WRITE;
/*!40000 ALTER TABLE `cash_flow` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_flow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `categories` (
  `id` varchar(50) NOT NULL,
  `name` varchar(50) NOT NULL,
  `type` enum('atk','fotocopy_supply','percetakan_supply','sparepart') NOT NULL,
  `emoji` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES ('buku-4277','Buku','atk','?'),('cat-dummy-1','Percetakan Offset','percetakan_supply',NULL),('kertas-2867','KERTAS','atk','?'),('polpen-4484','POLPEN','atk','?');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `address` text,
  `type` enum('walkin','corporate','vip','service') DEFAULT 'walkin',
  `company` varchar(100) DEFAULT NULL,
  `total_trx` int(11) DEFAULT '0',
  `total_spend` int(11) DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
INSERT INTO `customers` VALUES ('c1775132386225','BALAI DESA KEDIREN','085655620979','KEDIREN','walkin','Instansi Desa',0,0,'2026-04-02 12:19:46');
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_assignments`
--

DROP TABLE IF EXISTS `design_assignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `design_assignments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `task_id` varchar(50) NOT NULL COMMENT 'ID pesanan dari dp_tasks (localStorage)',
  `designer_id` varchar(50) NOT NULL COMMENT 'FK ke users (role=desainer)',
  `status` enum('ditugaskan','dikerjakan','selesai','dibatalkan') NOT NULL DEFAULT 'ditugaskan',
  `assigned_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `started_at` datetime DEFAULT NULL COMMENT 'Waktu operator klik Mulai Desain',
  `finished_at` datetime DEFAULT NULL COMMENT 'Waktu operator klik Selesai Desain',
  `catatan` text,
  `file_hasil_desain` varchar(500) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_da_designer` (`designer_id`),
  CONSTRAINT `fk_da_designer` FOREIGN KEY (`designer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8 COMMENT='Penugasan pesanan cetak ke operator desain';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_assignments`
--

LOCK TABLES `design_assignments` WRITE;
/*!40000 ALTER TABLE `design_assignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_assignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_logs`
--

DROP TABLE IF EXISTS `design_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `design_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_item_id` varchar(50) NOT NULL,
  `technician_id` varchar(50) DEFAULT NULL COMMENT 'User yang menjalankan timer',
  `start_time` datetime NOT NULL,
  `end_time` datetime DEFAULT NULL COMMENT 'NULL = timer masih berjalan',
  `total_durasi_menit` int(11) DEFAULT NULL COMMENT 'Durasi manual (menit)',
  `tarif_per_jam` int(11) NOT NULL DEFAULT '50000' COMMENT 'Tarif desain saat sesi dicatat (Rp/jam)',
  `total_biaya_desain` int(11) DEFAULT NULL COMMENT 'Biaya desain (Rp)',
  `catatan` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_dl_order_item` (`order_item_id`),
  KEY `fk_dl_technician` (`technician_id`),
  CONSTRAINT `fk_dl_order_item` FOREIGN KEY (`order_item_id`) REFERENCES `order_items` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_dl_technician` FOREIGN KEY (`technician_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COMMENT='Log sesi timer jasa desain';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_logs`
--

LOCK TABLES `design_logs` WRITE;
/*!40000 ALTER TABLE `design_logs` DISABLE KEYS */;
INSERT INTO `design_logs` VALUES (1,'oi17730411013352rd6','u1','2026-03-09 14:25:15','2026-03-09 14:25:27',NULL,50000,NULL,NULL,'2026-03-09 07:25:15'),(2,'oi17730411013352rd6','u1','2026-03-09 14:28:10','2026-03-09 14:28:20',NULL,50000,NULL,NULL,'2026-03-09 07:28:10'),(3,'oi1773041922898ldnh','u1','2026-03-09 14:39:10','2026-03-09 14:39:45',NULL,50000,NULL,NULL,'2026-03-09 07:39:10');
/*!40000 ALTER TABLE `design_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `design_sessions`
--

DROP TABLE IF EXISTS `design_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `design_sessions` (
  `id` varchar(50) NOT NULL,
  `technician_id` varchar(50) DEFAULT NULL,
  `order_id` varchar(50) DEFAULT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime DEFAULT NULL,
  `current_duration` int(11) NOT NULL DEFAULT '0',
  `hourly_rate` decimal(10,2) NOT NULL DEFAULT '50000.00',
  `status` enum('Running','Paused','Completed') NOT NULL DEFAULT 'Running',
  PRIMARY KEY (`id`),
  KEY `fk_ds_technician` (`technician_id`),
  KEY `fk_ds_order` (`order_id`),
  CONSTRAINT `fk_ds_order` FOREIGN KEY (`order_id`) REFERENCES `offset_orders` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_ds_technician` FOREIGN KEY (`technician_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Timer Desain per order offset';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `design_sessions`
--

LOCK TABLES `design_sessions` WRITE;
/*!40000 ALTER TABLE `design_sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `design_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dp_tasks`
--

DROP TABLE IF EXISTS `dp_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dp_tasks` (
  `id` varchar(50) NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'menunggu_desain',
  `customerName` varchar(100) DEFAULT NULL,
  `customerId` varchar(50) DEFAULT NULL,
  `title` varchar(200) DEFAULT NULL,
  `material_id` varchar(50) DEFAULT NULL,
  `material_name` varchar(100) DEFAULT NULL,
  `dimensions_w` decimal(10,2) DEFAULT NULL,
  `dimensions_h` decimal(10,2) DEFAULT NULL,
  `material_price` decimal(15,2) DEFAULT '0.00',
  `design_price` decimal(15,2) DEFAULT '0.00',
  `priority` varchar(50) DEFAULT 'normal',
  `pesan_desainer` text,
  `type` varchar(50) DEFAULT 'digital',
  `file_url` text,
  `qty` int(11) DEFAULT '1',
  `designer_id` varchar(50) DEFAULT NULL,
  `designer_name` varchar(100) DEFAULT NULL,
  `operator_id` varchar(50) DEFAULT NULL,
  `operator_name` varchar(100) DEFAULT NULL,
  `started_at` datetime DEFAULT NULL,
  `finished_at` datetime DEFAULT NULL,
  `dp_amount` decimal(15,2) DEFAULT '0.00',
  `is_paid` tinyint(1) DEFAULT '0',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Digital Printing tasks (formerly from localStorage)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dp_tasks`
--

LOCK TABLES `dp_tasks` WRITE;
/*!40000 ALTER TABLE `dp_tasks` DISABLE KEYS */;
/*!40000 ALTER TABLE `dp_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expenses`
--

DROP TABLE IF EXISTS `expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expenses` (
  `id` varchar(50) NOT NULL,
  `kategori` varchar(80) NOT NULL COMMENT 'Listrik, Gaji, Sewa, Pembelian Bahan, dll.',
  `nominal` int(11) NOT NULL DEFAULT '0',
  `tanggal` date NOT NULL,
  `keterangan` text,
  `bukti_foto` varchar(500) DEFAULT NULL COMMENT 'Path / URL foto struk/bukti',
  `requested_by` varchar(50) DEFAULT NULL COMMENT 'User yang mengajukan pengeluaran',
  `status_approval` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `approved_by` varchar(50) DEFAULT NULL COMMENT 'Owner / admin yang menyetujui',
  `approved_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_exp_requester` (`requested_by`),
  KEY `fk_exp_approver` (`approved_by`),
  CONSTRAINT `fk_exp_approver` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_exp_requester` FOREIGN KEY (`requested_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Pengeluaran operasional dengan approval';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expenses`
--

LOCK TABLES `expenses` WRITE;
/*!40000 ALTER TABLE `expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fotocopy_prices`
--

DROP TABLE IF EXISTS `fotocopy_prices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fotocopy_prices` (
  `id` varchar(50) NOT NULL,
  `paper` enum('HVS A4','HVS F4','HVS A3') NOT NULL,
  `color` enum('bw','color') NOT NULL,
  `side` enum('1','2') NOT NULL,
  `price` int(11) NOT NULL,
  `label` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fotocopy_prices`
--

LOCK TABLES `fotocopy_prices` WRITE;
/*!40000 ALTER TABLE `fotocopy_prices` DISABLE KEYS */;
INSERT INTO `fotocopy_prices` VALUES ('fc1','HVS A4','bw','1',250,'HVS A4 - B/W - 1 Sisi'),('fc2','HVS A4','bw','2',400,'HVS A4 - B/W - Bolak-balik'),('fc3','HVS F4','bw','1',250,'HVS F4 - B/W - 1 Sisi'),('fc4','HVS F4','bw','2',400,'HVS F4 - B/W - Bolak-balik'),('fc5','HVS A3','bw','1',1000,'HVS A3 - B/W - 1 Sisi'),('fc6','HVS A4','color','1',1000,'HVS A4 - Warna - 1 Sisi');
/*!40000 ALTER TABLE `fotocopy_prices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `handovers`
--

DROP TABLE IF EXISTS `handovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `handovers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `transaction_id` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `invoice_no` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `customer_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receiver_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receiver_phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `handover_date` datetime DEFAULT CURRENT_TIMESTAMP,
  `handover_by` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `handovers`
--

LOCK TABLES `handovers` WRITE;
/*!40000 ALTER TABLE `handovers` DISABLE KEYS */;
INSERT INTO `handovers` VALUES (1,'t1774173510749','TRX-202603-2987','Umum','Umum','','','2026-04-01 22:37:31','Admin'),(2,'t1774183855102','TRX-202603-7418','Umum','Umum','','','2026-04-01 22:37:35','Admin');
/*!40000 ALTER TABLE `handovers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material_movements`
--

DROP TABLE IF EXISTS `material_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `material_movements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `material_id` varchar(50) NOT NULL,
  `tipe` enum('masuk','keluar','penyesuaian') NOT NULL,
  `jumlah` decimal(10,2) NOT NULL COMMENT 'Selalu positif; tipe menentukan arah',
  `satuan` varchar(20) NOT NULL,
  `referensi` varchar(100) DEFAULT NULL COMMENT 'order_item_id atau nomor pembelian bahan',
  `catatan` text,
  `user_id` varchar(50) DEFAULT NULL,
  `tanggal` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_mm_material` (`material_id`),
  KEY `fk_mm_user` (`user_id`),
  CONSTRAINT `fk_mm_material` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_mm_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Mutasi / riwayat stok bahan cetak';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material_movements`
--

LOCK TABLES `material_movements` WRITE;
/*!40000 ALTER TABLE `material_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `material_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materials`
--

DROP TABLE IF EXISTS `materials`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materials` (
  `id` varchar(50) NOT NULL,
  `barcode` varchar(50) DEFAULT NULL,
  `nama_bahan` varchar(100) NOT NULL,
  `kategori` varchar(50) NOT NULL DEFAULT 'digital',
  `satuan` varchar(50) NOT NULL DEFAULT 'm2',
  `harga_modal` int(11) NOT NULL DEFAULT '0' COMMENT 'Harga pokok / modal per satuan (Rp)',
  `harga_jual` int(11) NOT NULL DEFAULT '0' COMMENT 'Harga jual ke pelanggan per satuan (Rp)',
  `stok_saat_ini` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Stok tersedia dalam satuan bahan',
  `stok_minimum` decimal(10,2) NOT NULL DEFAULT '0.00' COMMENT 'Batas minimum sebelum notifikasi',
  `lokasi_rak` varchar(100) DEFAULT NULL,
  `supplier_id` varchar(50) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `barcode` (`barcode`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Master bahan cetak';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materials`
--

LOCK TABLES `materials` WRITE;
/*!40000 ALTER TABLE `materials` DISABLE KEYS */;
/*!40000 ALTER TABLE `materials` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offset_orders`
--

DROP TABLE IF EXISTS `offset_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offset_orders` (
  `id` varchar(50) NOT NULL,
  `order_number` varchar(50) NOT NULL,
  `product_id` varchar(50) DEFAULT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `qty` int(11) NOT NULL DEFAULT '1',
  `spesifikasi_json` text,
  `total_estimasi_produksi` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_biaya_desain` decimal(12,2) NOT NULL DEFAULT '0.00',
  `grand_total` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status_order` enum('Pending','Printing','Finished') NOT NULL DEFAULT 'Pending',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `fk_oo_product` (`product_id`),
  KEY `fk_oo_customer` (`customer_id`),
  CONSTRAINT `fk_oo_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_oo_product` FOREIGN KEY (`product_id`) REFERENCES `offset_products` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Pesanan cetak offset';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offset_orders`
--

LOCK TABLES `offset_orders` WRITE;
/*!40000 ALTER TABLE `offset_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `offset_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offset_products`
--

DROP TABLE IF EXISTS `offset_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `offset_products` (
  `id` varchar(50) NOT NULL,
  `nama_produk` varchar(100) NOT NULL,
  `deskripsi_singkat` text,
  `harga_base` decimal(10,2) NOT NULL DEFAULT '0.00',
  `satuan` varchar(20) NOT NULL,
  `is_best_seller` tinyint(1) DEFAULT '0',
  `image_url` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Master Katalog Produk Offset';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offset_products`
--

LOCK TABLES `offset_products` WRITE;
/*!40000 ALTER TABLE `offset_products` DISABLE KEYS */;
INSERT INTO `offset_products` VALUES ('op1','Cetak Nota','Rangkap/NCR (2-4 Ply) - Ukuran Custom (A4, A5, 1/3 A4)',25000.00,'buku',1,NULL),('op2','Cetak Buku','Hard/Soft Cover Laminating - Jumlah Buku Min. 50 Eks',50000.00,'eks',0,NULL),('op3','Cetak Kalender','Kalender Dinding & Meja - Kertas Art Paper / Ivory',15000.00,'pcs',0,NULL),('op4','Kartu Nama','Standar & Premium (Spot UV) - Min. Order 1 Box (100 lbr)',35000.00,'box',0,NULL);
/*!40000 ALTER TABLE `offset_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `order_items` (
  `id` varchar(50) NOT NULL,
  `order_id` varchar(50) NOT NULL,
  `layanan` enum('digital_printing','offset','atk','jilid','fotocopy','jasa_desain','lainnya') NOT NULL DEFAULT 'digital_printing',
  `nama_item` varchar(150) NOT NULL COMMENT 'Deskripsi singkat: Banner Warung Makan, Stiker Logo, dll.',
  `material_id` varchar(50) DEFAULT NULL COMMENT 'FK ke materials (NULL untuk jasa desain / ATK)',
  `ukuran_p` decimal(8,2) DEFAULT NULL COMMENT 'Panjang dalam meter (untuk banner/stiker)',
  `ukuran_l` decimal(8,2) DEFAULT NULL COMMENT 'Lebar dalam meter',
  `luas_total` decimal(10,4) DEFAULT NULL COMMENT 'Dihitung: p ├ù l (m┬▓)',
  `quantity` int(11) NOT NULL DEFAULT '1',
  `harga_satuan` int(11) NOT NULL DEFAULT '0' COMMENT 'Per m┬▓ atau per pcs, sesuai satuan material',
  `subtotal` int(11) NOT NULL DEFAULT '0' COMMENT 'Dihitung: luas_total ├ù harga_satuan ├ù quantity, atau qty ├ù harga',
  `file_desain` varchar(500) DEFAULT NULL COMMENT 'Path / URL file desain pelanggan',
  `catatan` text,
  PRIMARY KEY (`id`),
  KEY `fk_oi_order` (`order_id`),
  KEY `fk_oi_material` (`material_id`),
  CONSTRAINT `fk_oi_material` FOREIGN KEY (`material_id`) REFERENCES `materials` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_oi_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Item detail per pesanan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` VALUES ('oi17730411013352rd6','ord1773041101325','digital_printing','Banner','mat001',3.00,0.80,2.4000,1,25000,60000,NULL,NULL),('oi1773041922898ldnh','ord1773041922897','digital_printing','Banner Wrung','mat004',2.00,1.00,2.0000,1,75000,150000,NULL,NULL);
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `orders` (
  `id` varchar(50) NOT NULL,
  `order_number` varchar(50) NOT NULL COMMENT 'Nomor cantik: ORD-9021, dsb.',
  `customer_id` varchar(50) DEFAULT NULL,
  `customer_name` varchar(100) NOT NULL DEFAULT 'Umum',
  `user_id` varchar(50) DEFAULT NULL COMMENT 'Kasir / operator yang membuat order',
  `total_harga` int(11) NOT NULL DEFAULT '0',
  `status_pembayaran` enum('belum_bayar','dp','lunas') NOT NULL DEFAULT 'belum_bayar',
  `dp_amount` int(11) NOT NULL DEFAULT '0',
  `remaining` int(11) NOT NULL DEFAULT '0' COMMENT 'Sisa tagihan = total_harga - dp_amount',
  `metode_pembayaran` enum('tunai','transfer','qris','hutang') DEFAULT NULL,
  `deadline` date DEFAULT NULL,
  `catatan` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_number` (`order_number`),
  KEY `fk_orders_customer` (`customer_id`),
  KEY `fk_orders_user` (`user_id`),
  CONSTRAINT `fk_orders_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_orders_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Induk pesanan percetakan (multi-item)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` VALUES ('ord1773041101325','ORD-260001',NULL,'umum','u1',60000,'belum_bayar',0,60000,'tunai','2026-03-09',NULL,'2026-03-09 07:25:01','2026-03-09 07:25:01'),('ord1773041922897','ORD-260002',NULL,'Alamsyah','u1',150000,'belum_bayar',0,150000,'tunai','2026-03-19',NULL,'2026-03-09 07:38:42','2026-03-09 07:38:42');
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricing_logs`
--

DROP TABLE IF EXISTS `pricing_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pricing_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` varchar(50) NOT NULL,
  `user_id` varchar(50) NOT NULL,
  `payload_sebelum` text,
  `payload_sesudah` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `pricing_logs_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pricing_logs_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricing_logs`
--

LOCK TABLES `pricing_logs` WRITE;
/*!40000 ALTER TABLE `pricing_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricing_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pricing_rules`
--

DROP TABLE IF EXISTS `pricing_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pricing_rules` (
  `id` varchar(50) NOT NULL,
  `product_id` varchar(50) NOT NULL,
  `min_qty` int(11) NOT NULL DEFAULT '0',
  `max_qty` int(11) NOT NULL DEFAULT '0',
  `unit_price` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  KEY `fk_pr_product` (`product_id`),
  CONSTRAINT `fk_pr_product` FOREIGN KEY (`product_id`) REFERENCES `offset_products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Harga grosir/berjenjang offset';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pricing_rules`
--

LOCK TABLES `pricing_rules` WRITE;
/*!40000 ALTER TABLE `pricing_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `pricing_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `print_orders`
--

DROP TABLE IF EXISTS `print_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `print_orders` (
  `id` varchar(50) NOT NULL,
  `order_no` varchar(50) NOT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `customer_name` varchar(100) NOT NULL,
  `type` varchar(100) NOT NULL,
  `description` text,
  `specs` text,
  `qty` int(11) NOT NULL,
  `unit` varchar(20) DEFAULT 'pcs',
  `total_price` int(11) NOT NULL,
  `dp_amount` int(11) DEFAULT '0',
  `remaining` int(11) DEFAULT '0',
  `shipping_cost` int(11) DEFAULT '0',
  `deadline` date DEFAULT NULL,
  `status` enum('pending','desain','approval','cetak','selesai','diambil','batal') DEFAULT 'pending',
  `notes` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_no` (`order_no`),
  KEY `customer_id` (`customer_id`),
  CONSTRAINT `print_orders_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `print_orders`
--

LOCK TABLES `print_orders` WRITE;
/*!40000 ALTER TABLE `print_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `print_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_options`
--

DROP TABLE IF EXISTS `product_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_options` (
  `id` varchar(50) NOT NULL,
  `product_id` varchar(50) NOT NULL,
  `kategori_opsi` enum('Ukuran','Rangkap','Finishing','Bahan','Lainnya') NOT NULL,
  `label_opsi` varchar(100) NOT NULL,
  `tambahan_biaya` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`id`),
  KEY `fk_po_product` (`product_id`),
  CONSTRAINT `fk_po_product` FOREIGN KEY (`product_id`) REFERENCES `offset_products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Variabel spesifikasi produk';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_options`
--

LOCK TABLES `product_options` WRITE;
/*!40000 ALTER TABLE `product_options` DISABLE KEYS */;
INSERT INTO `product_options` VALUES ('po1','op1','Rangkap','2 Ply',0.00),('po2','op1','Rangkap','3 Ply',5000.00),('po3','op1','Rangkap','4 Ply',10000.00),('po4','op1','Ukuran','A4 (21 x 29.7 cm)',15000.00),('po5','op1','Ukuran','A5 (14.8 x 21 cm)',0.00),('po6','op1','Ukuran','1/3 A4 (10 x 21 cm)',-5000.00);
/*!40000 ALTER TABLE `product_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production_status`
--

DROP TABLE IF EXISTS `production_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `production_status` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `order_item_id` varchar(50) NOT NULL COMMENT 'Satu item ΓåÆ satu baris progres',
  `status` enum('menunggu','desain','approval','cetak','finishing','siap_diambil','selesai','batal') NOT NULL DEFAULT 'menunggu',
  `catatan_teknis` text,
  `link_file_desain` varchar(500) DEFAULT NULL COMMENT 'URL file final dari galeri / cloud',
  `foto_sebelum` varchar(500) DEFAULT NULL,
  `foto_sesudah` varchar(500) DEFAULT NULL,
  `operator_id` varchar(50) DEFAULT NULL COMMENT 'Operator yang update status terakhir',
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `order_item_id` (`order_item_id`),
  KEY `fk_ps_operator` (`operator_id`),
  CONSTRAINT `fk_ps_operator` FOREIGN KEY (`operator_id`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_ps_order_item` FOREIGN KEY (`order_item_id`) REFERENCES `order_items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8 COMMENT='Status produksi per item pesanan';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production_status`
--

LOCK TABLES `production_status` WRITE;
/*!40000 ALTER TABLE `production_status` DISABLE KEYS */;
INSERT INTO `production_status` VALUES (1,'oi17730411013352rd6','selesai',NULL,NULL,NULL,NULL,'u1','2026-03-09 07:31:57'),(2,'oi1773041922898ldnh','selesai',NULL,NULL,NULL,NULL,'u1','2026-03-09 07:40:14');
/*!40000 ALTER TABLE `production_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` varchar(50) NOT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `category_id` varchar(50) DEFAULT NULL,
  `buy_price` int(11) NOT NULL DEFAULT '0',
  `sell_price` int(11) NOT NULL DEFAULT '0',
  `stock` int(11) NOT NULL DEFAULT '0',
  `min_stock` int(11) NOT NULL DEFAULT '0',
  `unit` varchar(20) DEFAULT 'pcs',
  `emoji` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `category_id` (`category_id`),
  CONSTRAINT `products_ibfk_1` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_items`
--

DROP TABLE IF EXISTS `purchase_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchase_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `purchase_id` varchar(50) NOT NULL,
  `item_type` enum('product','material') NOT NULL,
  `item_id` varchar(50) NOT NULL,
  `item_name` varchar(150) NOT NULL,
  `qty` decimal(10,2) NOT NULL,
  `unit_cost` int(11) NOT NULL DEFAULT '0',
  `subtotal` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `fk_purchase_items_parent` (`purchase_id`),
  CONSTRAINT `fk_purchase_items_parent` FOREIGN KEY (`purchase_id`) REFERENCES `purchases` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8 COMMENT='Detail item dari transaksi pembelian';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_items`
--

LOCK TABLES `purchase_items` WRITE;
/*!40000 ALTER TABLE `purchase_items` DISABLE KEYS */;
INSERT INTO `purchase_items` VALUES (1,'PURC-1774179657396','product','prod-dummy-1','Buku Nota A5 NCR 2 Play',1.00,15001,15001);
/*!40000 ALTER TABLE `purchase_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchases`
--

DROP TABLE IF EXISTS `purchases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchases` (
  `id` varchar(50) NOT NULL,
  `invoice_no` varchar(50) NOT NULL,
  `supplier_id` varchar(50) DEFAULT NULL,
  `supplier_name` varchar(100) NOT NULL DEFAULT 'Umum',
  `date` datetime NOT NULL,
  `total_amount` int(11) NOT NULL DEFAULT '0',
  `payment_status` enum('lunas','hutang') NOT NULL DEFAULT 'lunas',
  `notes` text,
  `user_id` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_no` (`invoice_no`),
  KEY `fk_purchases_user` (`user_id`),
  CONSTRAINT `fk_purchases_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Daftar transaksi barang masuk / pembelian';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchases`
--

LOCK TABLES `purchases` WRITE;
/*!40000 ALTER TABLE `purchases` DISABLE KEYS */;
INSERT INTO `purchases` VALUES ('PURC-1774179657396','INV-657396',NULL,'Umum','2026-03-22 00:00:00',15001,'lunas','Testing','u1','2026-03-22 11:40:57','2026-03-22 11:40:57');
/*!40000 ALTER TABLE `purchases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_orders`
--

DROP TABLE IF EXISTS `service_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_orders` (
  `id` varchar(50) NOT NULL,
  `service_no` varchar(50) NOT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `customer_name` varchar(100) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `machine_info` varchar(100) NOT NULL,
  `serial_no` varchar(50) DEFAULT NULL,
  `complaint` text NOT NULL,
  `condition_physic` text,
  `diagnosis` text,
  `labor_cost` int(11) DEFAULT '0',
  `total_cost` int(11) DEFAULT '0',
  `status` enum('diterima','diagnosa','approval','tunggu_part','pengerjaan','testing','selesai','diambil','batal') DEFAULT 'diterima',
  `technician_id` varchar(50) DEFAULT NULL,
  `warranty_end` date DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `service_no` (`service_no`),
  KEY `customer_id` (`customer_id`),
  KEY `technician_id` (`technician_id`),
  CONSTRAINT `service_orders_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `service_orders_ibfk_2` FOREIGN KEY (`technician_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_orders`
--

LOCK TABLES `service_orders` WRITE;
/*!40000 ALTER TABLE `service_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `service_spareparts`
--

DROP TABLE IF EXISTS `service_spareparts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `service_spareparts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `service_order_id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `qty` int(11) NOT NULL,
  `price` int(11) NOT NULL,
  `product_id` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `service_order_id` (`service_order_id`),
  KEY `fk_sparepart_product` (`product_id`),
  CONSTRAINT `fk_sparepart_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE SET NULL,
  CONSTRAINT `service_spareparts_ibfk_1` FOREIGN KEY (`service_order_id`) REFERENCES `service_orders` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `service_spareparts`
--

LOCK TABLES `service_spareparts` WRITE;
/*!40000 ALTER TABLE `service_spareparts` DISABLE KEYS */;
/*!40000 ALTER TABLE `service_spareparts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `key` varchar(100) NOT NULL,
  `value` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spk`
--

DROP TABLE IF EXISTS `spk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spk` (
  `id` varchar(50) NOT NULL,
  `spk_number` varchar(50) NOT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `customer_name` varchar(150) NOT NULL,
  `customer_phone` varchar(30) DEFAULT NULL,
  `customer_company` varchar(150) DEFAULT NULL,
  `product_name` varchar(200) NOT NULL,
  `product_qty` int(11) NOT NULL DEFAULT '1',
  `product_unit` varchar(30) NOT NULL DEFAULT 'pcs',
  `kategori` varchar(50) DEFAULT 'Cetak Offset',
  `specs_material` text,
  `specs_finishing` text,
  `specs_notes` text,
  `biaya_cetak` decimal(12,2) NOT NULL DEFAULT '0.00',
  `biaya_material` decimal(12,2) NOT NULL DEFAULT '0.00',
  `biaya_finishing` decimal(12,2) NOT NULL DEFAULT '0.00',
  `biaya_desain` decimal(12,2) NOT NULL DEFAULT '0.00',
  `biaya_lainnya` decimal(12,2) NOT NULL DEFAULT '0.00',
  `total_biaya` decimal(12,2) NOT NULL DEFAULT '0.00',
  `dp_amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `sisa_tagihan` decimal(12,2) NOT NULL DEFAULT '0.00',
  `status` enum('Menunggu Antrian','Dalam Proses Cetak','Finishing','Quality Control','Selesai','Siap Diambil','Diambil','Batal') DEFAULT 'Menunggu Antrian',
  `priority` enum('Rendah','Normal','Tinggi','Urgent') NOT NULL DEFAULT 'Normal',
  `assigned_to` varchar(50) DEFAULT NULL,
  `deadline` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `created_by` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `offset_order_id` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `spk_number` (`spk_number`),
  KEY `fk_spk_customer` (`customer_id`),
  KEY `fk_spk_assigned` (`assigned_to`),
  KEY `fk_spk_created` (`created_by`),
  CONSTRAINT `fk_spk_assigned` FOREIGN KEY (`assigned_to`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_spk_created` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_spk_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Master Surat Perintah Kerja';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spk`
--

LOCK TABLES `spk` WRITE;
/*!40000 ALTER TABLE `spk` DISABLE KEYS */;
/*!40000 ALTER TABLE `spk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spk_handovers`
--

DROP TABLE IF EXISTS `spk_handovers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spk_handovers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `spk_id` varchar(50) NOT NULL,
  `received_by_name` varchar(150) NOT NULL,
  `received_by_phone` varchar(30) DEFAULT NULL,
  `signature_data` longtext,
  `photo_evidence` text,
  `notes` text,
  `handed_by` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_spkho_spk` (`spk_id`),
  KEY `fk_spkho_user` (`handed_by`),
  CONSTRAINT `fk_spkho_spk` FOREIGN KEY (`spk_id`) REFERENCES `spk` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_spkho_user` FOREIGN KEY (`handed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='Bukti serah terima barang';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spk_handovers`
--

LOCK TABLES `spk_handovers` WRITE;
/*!40000 ALTER TABLE `spk_handovers` DISABLE KEYS */;
/*!40000 ALTER TABLE `spk_handovers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spk_logs`
--

DROP TABLE IF EXISTS `spk_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spk_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `spk_id` varchar(50) NOT NULL,
  `user_id` varchar(50) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `description` text,
  `old_value` varchar(100) DEFAULT NULL,
  `new_value` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_spklog_spk` (`spk_id`),
  KEY `fk_spklog_user` (`user_id`),
  CONSTRAINT `fk_spklog_spk` FOREIGN KEY (`spk_id`) REFERENCES `spk` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_spklog_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8 COMMENT='Log aktivitas produksi SPK';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spk_logs`
--

LOCK TABLES `spk_logs` WRITE;
/*!40000 ALTER TABLE `spk_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `spk_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spk_payments`
--

DROP TABLE IF EXISTS `spk_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `spk_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `spk_id` varchar(50) NOT NULL,
  `payment_type` enum('DP','Pelunasan') NOT NULL DEFAULT 'Pelunasan',
  `method` enum('Tunai','QRIS','Transfer') NOT NULL DEFAULT 'Tunai',
  `amount` decimal(12,2) NOT NULL DEFAULT '0.00',
  `bank_ref` varchar(100) DEFAULT NULL,
  `status` enum('Pending','Berhasil','Gagal') NOT NULL DEFAULT 'Berhasil',
  `paid_by` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_spkpay_spk` (`spk_id`),
  KEY `fk_spkpay_user` (`paid_by`),
  CONSTRAINT `fk_spkpay_spk` FOREIGN KEY (`spk_id`) REFERENCES `spk` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_spkpay_user` FOREIGN KEY (`paid_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8 COMMENT='Riwayat pembayaran SPK';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spk_payments`
--

LOCK TABLES `spk_payments` WRITE;
/*!40000 ALTER TABLE `spk_payments` DISABLE KEYS */;
INSERT INTO `spk_payments` VALUES (1,'spk-001','DP','Tunai',500000.00,NULL,'Berhasil','u1','2026-03-13 15:35:38'),(2,'spk-002','DP','Transfer',300000.00,NULL,'Berhasil','u1','2026-03-13 15:35:38'),(3,'spk-003','DP','QRIS',300000.00,NULL,'Berhasil','u1','2026-03-13 15:35:38');
/*!40000 ALTER TABLE `spk_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_movements`
--

DROP TABLE IF EXISTS `stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `stock_movements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` varchar(50) NOT NULL,
  `type` enum('in','out','adjust') NOT NULL,
  `qty` int(11) NOT NULL,
  `date` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `reference` varchar(100) DEFAULT NULL,
  `notes` text,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `stock_movements_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_movements`
--

LOCK TABLES `stock_movements` WRITE;
/*!40000 ALTER TABLE `stock_movements` DISABLE KEYS */;
INSERT INTO `stock_movements` VALUES (1,'prod-dummy-1','in',1,'2026-03-22 11:40:57','PURC-1774179657396','Restock Barang Masuk');
/*!40000 ALTER TABLE `stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_person` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `phone` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `address` text COLLATE utf8mb4_unicode_ci,
  `notes` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
INSERT INTO `suppliers` VALUES ('b8c0a98b-e476-44a3-a54e-f27e490eaba1','ATLANTIK PONOROGO','ANING','081200562456','Ponorogo','Jadwal kirim setiap hari rabu','2026-03-22 14:11:34','2026-03-22 14:11:34');
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiered_pricing_rules`
--

DROP TABLE IF EXISTS `tiered_pricing_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tiered_pricing_rules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` varchar(50) NOT NULL,
  `min_kuantitas` int(11) NOT NULL,
  `max_kuantitas` int(11) DEFAULT NULL,
  `diskon_persen` decimal(5,2) DEFAULT '0.00',
  `harga_per_unit_akhir` decimal(10,2) NOT NULL,
  `urutan_tier` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `tiered_pricing_rules_ibfk_1` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiered_pricing_rules`
--

LOCK TABLES `tiered_pricing_rules` WRITE;
/*!40000 ALTER TABLE `tiered_pricing_rules` DISABLE KEYS */;
INSERT INTO `tiered_pricing_rules` VALUES (1,'prod-dummy-1',1,10,0.00,25000.00,1),(2,'prod-dummy-1',11,50,10.00,22500.00,2),(3,'prod-dummy-1',51,NULL,25.00,18750.00,3),(4,'prod-dummy-2',1,5,0.00,35000.00,1),(5,'prod-dummy-2',6,20,5.00,33250.00,2),(6,'prod-dummy-2',21,NULL,15.00,29750.00,3);
/*!40000 ALTER TABLE `tiered_pricing_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_details`
--

DROP TABLE IF EXISTS `transaction_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction_details` (
  `id` varchar(50) NOT NULL,
  `transaction_id` varchar(50) NOT NULL,
  `product_id` varchar(50) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `qty` int(11) NOT NULL,
  `price` int(11) NOT NULL,
  `subtotal` int(11) NOT NULL,
  `discount` int(11) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `transaction_id` (`transaction_id`),
  KEY `product_id` (`product_id`),
  CONSTRAINT `transaction_details_ibfk_1` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `transaction_details_ibfk_2` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_details`
--

LOCK TABLES `transaction_details` WRITE;
/*!40000 ALTER TABLE `transaction_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactions` (
  `id` varchar(50) NOT NULL,
  `invoice_no` varchar(50) NOT NULL,
  `date` datetime NOT NULL,
  `customer_id` varchar(50) DEFAULT NULL,
  `customer_name` varchar(100) DEFAULT 'Umum',
  `user_id` varchar(50) DEFAULT NULL,
  `user_name` varchar(100) DEFAULT NULL,
  `type` varchar(50) DEFAULT 'sale',
  `subtotal` int(11) NOT NULL,
  `discount` int(11) DEFAULT '0',
  `total` int(11) NOT NULL,
  `paid` int(11) DEFAULT '0',
  `change_amount` int(11) DEFAULT '0',
  `payment_type` varchar(50) DEFAULT 'tunai',
  `status` varchar(50) DEFAULT 'unpaid',
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_no` (`invoice_no`),
  KEY `customer_id` (`customer_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `transactions_ibfk_1` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('admin','kasir','operator','teknisi','desainer') NOT NULL,
  `is_active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wa_config`
--

DROP TABLE IF EXISTS `wa_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `wa_config` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `config_key` varchar(100) NOT NULL,
  `config_value` text,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `config_key` (`config_key`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8 COMMENT='Konfigurasi API WhatsApp';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wa_config`
--

LOCK TABLES `wa_config` WRITE;
/*!40000 ALTER TABLE `wa_config` DISABLE KEYS */;
/*!40000 ALTER TABLE `wa_config` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-09 18:05:29
